.floor {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.interactive {
  pointer-events: auto;
}

.tier0 {
}

.tier1 {
  filter: brightness(0.7) ;
}

.tier2 {
  filter: brightness(0.5);
}

.tier3 {
  filter: brightness(0.3);
}
